.dialog-action-area {
  margin: 6px;
  border-spacing: 6px;
}

/****************
 * Print dialog *
*****************/

window.dialog.print {
  drawing {
    color: $window_fg_color;
    background: none;
    border: none;
    padding: 0;

    paper {
      background-color: white;
      color: transparentize(black, .2);
      background-clip: padding-box;
      border: 1px solid $border_color;
    }
  }
}

/****************
 * GtkAssistant *
 ****************/

window.assistant {
  .sidebar {
    padding: $menu-margin;
    background-clip: padding-box;
    @extend %sidebar_border;

    > label {
      padding: 6px 12px;
      border-radius: $menu_radius;

      &.highlight {
        background-color: $view_selected_color;
      }
    }
  }
}

/****************
 * GtkAboutDialog *
 ****************/

window.aboutdialog image.large-icons {
  -gtk-icon-size: 128px;
}
