popover.menu {
  box.inline-buttons {
    padding: 0 $menu_padding;

    button.image-button.model {
      @extend %button_basic_flat;

      min-height: 30px;
      min-width: 30px;
      padding: 0;
      border: none;
      outline: none;
      transition: none;

      &:selected {
        background-color: $view_selected_color;

        &:active {
          background-color: $view_selected_active_color;
        }
      }
    }
  }

  box.circular-buttons {
    padding: $menu_padding $menu_padding 6px;

    button.circular.image-button.model {
      @extend %outline_button;

      outline: none;
      padding: 11px;
      &:selected {
        background-color: $view_selected_color;

        &:active {
          background-color: $view_selected_active_color;
        }
      }
    }
  }

  &.background > contents {
    padding: 0;

    &, > scrolledwindow > viewport {
      > stack > box {
        padding: $menu_margin;
      }
    }
  }

  &.background separator {
    margin: 6px 0;
  }

  &.background list separator {
    margin: 0;
  }

  accelerator {
    color: gtkalpha(currentColor, 0.55);

    &:dir(ltr) { margin-left: $menu_padding; }
    &:dir(rtl) { margin-right: $menu_padding; }
  }

  check,
  radio {
    min-width: 14px;
    min-height: 14px;
    -gtk-icon-size: 14px;
    padding: 2px;

    &, &:hover, &:hover:active, &:checked, &:disabled {
      background: none;
      color: inherit;
    }
  }

  check {
    &:checked { -gtk-icon-source: -gtk-scaled(-gtk-recolor(url("assets/check-small-symbolic.symbolic.png")),
                                              -gtk-recolor(url("assets/check-small@2-symbolic.symbolic.png"))); }
  }

  //only menu radios have a border
  radio {
    padding: 1px;
    border: 1px solid gtkalpha(currentColor, if($contrast == "high", 1, 0.3));

    &:checked { -gtk-icon-source: -gtk-scaled(-gtk-recolor(url("assets/bullet-small-symbolic.symbolic.png")),
                                              -gtk-recolor(url("assets/bullet-small@2-symbolic.symbolic.png"))); }
  }

  check,
  radio,
  arrow {
    &.left {
      margin-left: -2px;
      margin-right: 6px;
    }

    &.right {
      margin-left: 6px;
      margin-right: -2px;
    }
  }

  modelbutton {
    min-height: 30px;
    min-width: 40px;
    padding: 0 $menu_padding;
    border-radius: $menu_radius;

    @extend %undecorated_button;

    &:hover,
    &:selected {
      background-color: $view_selected_color;

      &:active {
        background-color: $view_selected_active_color; // matching buttons
      }
    }

    arrow {
      background: none;
      min-width: 16px;
      min-height: 16px;
      @if $contrast != "high" {
        opacity: 0.3; // dim icon
      }

      &:hover { background: none; }

      &:disabled {
        filter: opacity(0.5);
      }

      &.left { -gtk-icon-source: -gtk-icontheme("go-previous-symbolic"); }

      &.right { -gtk-icon-source: -gtk-icontheme("go-next-symbolic"); }
    }
  }

  label.title {
    font-weight: bold;
    padding: 4px ($menu_padding + 20px); //this will fall apart with font sizing
  }

  list, listview {
    background: none;
    color: inherit;

    > row {
      border-radius: $menu_radius;
      padding: 0 $menu_padding;
      min-height: 30px;
      min-width: 40px;

      &:selected {
        background: none;
      }

      &:hover {
        &, &:selected.activatable {
          background-color: $view_selected_color;
        }
      }

      &:active {
        &, &:selected.activatable {
          background-color: $view_selected_active_color;
        }
      }

      &.has-open-popup {
        &, &:selected.activatable {
          background-color: $view_selected_color;
        }
      }

      > box {
        border-spacing: 6px;
      }
    }
  }

  // Standalone lists should have same margins as menu sections,
  // but we don't want that on lists inside sections themselves
  contents > list,
  contents > listview,
  scrolledwindow > viewport > list,
  scrolledwindow > listview {
    padding: $menu_margin 0; //only vertical padding. horizontal row size would clip

    > row {
      margin: 0 $menu_margin;

      padding: 8px;
      min-height: 0;
    }
  }
}

menubar {
  padding: 0px;
  box-shadow: inset 0 -1px $border_color;

  > item {
    min-height: 16px;
    padding: 4px 8px;
    border-radius: $button_radius;

    &:selected { //Seems like it :hover even with keyboard focus
      background-color: $view_selected_color;
    }

    //nested submenus
    popover.menu popover.menu {
      padding: 0 0 4px 0;
    }

    popover.menu.background popover.menu.background > contents {
      margin: 0;
      border-radius: $popover_radius; //including top
    }
  }
}
